<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVIVAN A GOJO 🔥    </title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
     <!-- Hero Section -->
     <section id="hero">
        <!-- Video as background -->
        <div class="video-background">
            <video autoplay muted loop id="background-video">
                <source src="../../assets/vids/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="content-overlay">
            <h1>Como quisiera</h1>
            <h2>Que tu vivieras</h2>
            <p>* GOJO BACK 271 *</p>
        </div>
    </section>


    <!-- About Us Section -->
    <section id="about">
        <h2>About Us</h2>
        <p>ArremangalaArrepujalaArremangalaArrepujala</p>
    </section>

    <!-- Photos Section -->
    <section id="photos">
        <h2>Nosotros</h2>
        <div class="photo-gallery">
            <img src="../../assets/imgs/delfin.jpg" alt="Coffee Image 1">
            <img src="../../assets/imgs/delfin.jpg" alt="Coffee Image 2">
            <img src="../../assets/imgs/delfin.jpg" alt="Coffee Image 3">
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <h2>Contact Us</h2>
        <p>123 Calle Esquizo, Zacatecas, CP 546576</p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: hoyrevivegojo@gmail.com</p>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Esquizofrenia Productions. All rights reserved.</p>
    </footer>

    <!-- JavaScript -->
    <script src="../js/script.js"></script>
</body>
</html>
