<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Rincón del Sabor</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="#about">About Us</a></li>
            <li><a href="menu.html">Menu</a></li>
        </ul>
    </nav>

  
    <section id="hero">
     
        <div class="video-background">
            <video autoplay loop id="background-video">
                <source src="../../assets/vids/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="content-overlay">
            <h1>El Rincón del Sabor</h1>
            <h2>"El sabor del café, elevado a un arte"</h2>
        </div>
    </section>

  
    <section id="about">
        <h2>About Us</h2>
        <p>ArremangalaArrepujalaArremangalaArrepujalaArremangalaArrepujalaArremangalaArrepujalaArremangalaArrepujalaArremangalaArrepujala</p>
        <p>ArremangalaArrepujalaArremangalaArrepujalaArremangalaArrepujalaArremangalaArrepujalaArremangalaArrepujalaArremangalaArrepujala</p>
        <p>ArremangalaArrepujalaArremangalaArrepujalaArremangalaArrepujalaArremangalaArrepujala</p>
        <p>ArremangalaArrepujalaArremangalaArrepujala</p>
    </section>

  
    <section id="photos">
        <h2>Nosotros</h2>
        <div class="photo-gallery">
            <img class="sound-image" src="../../assets/imgs/img1.jpg" alt="Coffee Image 1">
            <img class="sound-image" src="../../assets/imgs/img2.jpg" alt="Coffee Image 2">
            <img class="sound-image" src="../../assets/imgs/img3.jpg" alt="Coffee Image 3">
        </div>
    </section>    

 
    <section id="contact">
        <h2>Contact Us</h2>
        <p>123 Calle Esquizo, Zacatecas, CP 546576</p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: hoyrevivegojo@gmail.com</p>
    </section>

    <footer>
        <p>&copy; 2024 Esquizofrenia Productions. All rights reserved.</p>
    </footer>

    <script src="../js/script.js"></script>
</body>
</html>
