body {
    font-family: Arial, sans-serif;
    background-image: url('https://c1.wallpaperflare.com/preview/859/388/912/interior-table-coffee-bar.jpg');
    background-size: cover;
    margin: 0;
    padding: 0; /* Cambiado de 20px a 0 para eliminar espacio extra */
    color: #3e2723; /* Color marrón oscuro */
    overflow: hidden; /* Desactiva el scroll */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0; /* Añadido para evitar margen en la izquierda */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 15px ; /* Cambiado a 10px vertical para que no esté muy pegado */
    z-index: 100;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Asegura que el contenido del ul esté centrado */
    padding: 0; /* Elimina el padding del ul */
    margin: 0; /* Elimina el margin del ul */
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 8px 16px;
    transition: background 0.3s ease;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(54, 33, 1, 0); /* Fondo blanco semi-transparente */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    margin-top: 70px; /* Añadir margen para que no se superponga al navbar */
}

.menu-container h1 {
    color: white;
    text-shadow: 5px 5px 5px #000000;
}

/* Otros estilos... */

.menu-items {
    display: grid; /* Usar grid para el diseño */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Mínimo 200px por item, y se adapta */
    gap: 20px; /* Espaciado entre los elementos */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.menu-item {
    background-color: #d7ccc8; /* Color marrón claro */
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.price {
    font-weight: bold;
    color: #6d4c41; /* Color marrón más oscuro */
}

.modal {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center; 
    align-items: center; 
}

.modal img {
    max-width: 90%; 
    max-height: 90%; 
    border-radius: 10px; 
}
